.signuppage {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  min-height: 100vh;
  height: fit-content;
  width: 100%;
  background: #272687;
  background: radial-gradient(at left bottom, #22216c, #56a8ef);
}

.signup-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10%;
  width: 100%;
  height: fit-content;
}
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10%;
  width: 90vw;
  padding: 50px;
  height: 100%;
  border-radius: 30px;
  background: none;
}

.signup-form p {
  font-size: 2rem;
  font-weight: 700;
  width: 90%;
  word-spacing: 5px;
  line-height: 60px;
  text-align: start;
  color: white;
}
.firstname {
  width: fit-content;
  height: 50px;
  padding: 10px;
  padding-inline: 0;
  font-size: 2rem;
  font-weight: 700;
  background: none;
  text-align: start;
  color: white;
  border: none;
  border-bottom: black 1px solid;
}
.email {
  height: 50px;
  width: fit-content;
  padding: 10px;
  padding-inline: 0;
  font-size: 2rem;
  font-weight: 700;
  background: none;
  text-align: start;
  color: white;
  border: none;
  border-bottom: black 1px solid;
}
.signup-btn {
  font-size: 2rem;
  border-radius: 10px;
  padding-inline: 20px;
  padding-block: 10px;
  background: transparent;
  text-transform: capitalize;
  color: #dbe1ff;
  font-weight: 200;
  border: #eaedff 0.5px solid;
  cursor: pointer;
  margin-top: 10%;
  -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
.signup-btn:hover {
  color: white;
  border: white 0.5px solid;
}
.signup-btn:active {
  color: #b6c2ff;
  border: #b6c2ff 0.5px solid;
}
.signup-form input:active {
  margin: 0;
  box-shadow: none;
}
@media screen and (max-width: 768px) {
  .signup-form {
    padding: 20px;
  }
  .signup-form p {
    font-size: 1.5rem;
    line-height: 40px;
  }
  .firstname {
    font-size: 1.5rem;
  }
  .email {
    font-size: 1.5rem;
  }
  .signup-btn {
    font-size: 1.5rem;
  }
}
